@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@500&display=swap');

.title{
    background-color: rgb(41, 40, 40);
    
}

.projectinfo{
    color: white;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Noto Sans JP', sans-serif;
}

.projectinfo:hover{
    border: 10px solid rgb(238, 238, 238);
}

.projectimg {

    height: 50%;
    width: 100%;
    margin: 5%;
    padding: 5%;
}

.box{

    padding: 2%;
    box-shadow: 5px 5px 10px rgb(224, 224, 224);

}

.visitsite{
    text-decoration: none; 
    color: white;

}

.visitsite:hover{
    text-decoration: none; 
    color: rgb(204, 204, 204);
  
}