@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+JP:wght@500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=M+PLUS+1p&family=Roboto:wght@300&display=swap');


.aboutcontent{

  font-family: 'Roboto', sans-serif;
  padding: 5%;
  color: #1b1c1d; 
  text-align: center;
}

.aboutwriting{
  font-size: 15px;
  margin-top: 5%;
}

.educationtitle{

  font-family: 'Roboto', sans-serif;
  padding: 5%;
  color: #1b1c1d; 
  text-align: center;
}

.educationname{
  font-size: 5px;
  font-family: 'Roboto', sans-serif;
  padding: 2%;
  color: #1b1c1d;
  flex-direction: row;
  align-items: right;
  font-size: 2px;
  
}

.education{
  padding: 2%;
  margin-bottom: 30%;
}