@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Syne+Mono&display=swap');


.background {

    width: 100%;
    height: 100%;
}

.projects{
    padding: 5%;
    width: 100%;
    text-align: center;
      
}

.projecttitle{
    font-family: 'Fredoka One', cursive;
}

.projectimg{
    width: 100%;
    height: 100%;
} 

.third {
    padding: 5%;
}

.blogimage{

    width: 100%;
    padding: 5%;
    padding-bottom: 20%;
}

.blog{
    padding: 5%;
    width: 100%;
    padding-top: 10%%;
}

.Information {

    padding-top: 10%;
}




.Intro{
    background-image: url("../../Image/IMG_1139.jpg");
   background-size: 100%;
   height: 350px;
   background-repeat: no-repeat;
    padding-top: 10%;
    color: rgb(241, 241, 241);
    font-size: 55px;
    font-family: 'Noto Sans JP', sans-serif;
    
}